h1 {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  }
  
p {
  color: black;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;

.nav {
  position: fixed;
  top: 0;
  display: flex;
  background-color: black;
  font-family: nimbus-sans-extended, sans-serif;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.nav a {
  color: white;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.navLogo {
  color: white;
  flex-grow: 6;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  padding-left: 50px;
  line-height: 50px;
}

.navItem {
  flex-grow: 1;
}
